:root {
  --vxe-ui-font-family: -apple-system, arial, blinkmacsystemfont, segoe ui, pingfang sc,
    hiragino sans gb, microsoft yahei, helvetica neue, helvetica, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  --vxe-ui-font-size: var(--sjzy-font-size) !important;
  --vxe-ui-font-size-medium: var(--sjzy-font-size) !important;
  --vxe-ui-font-size-small: var(--sjzy-font-size) !important;
  --vxe-ui-font-size-mini: var(--sjzy-font-size) !important;
  --vxe-ui-font-primary-color: var(--el-color-primary);
  --vxe-ui-border-radius: var(--sjzy-border-radius-base);
  --vxe-ui-icon-font-family: verdana, arial, tahoma;

  /* color */
  --vxe-ui-primary-color: var(--el-color-primary);
  --vxe-ui-success-color: var(--el-color-success);
  --vxe-ui-info-color: var(--el-color-info);
  --vxe-ui-warning-color: var(--el-color-warning);
  --vxe-ui-danger-color: var(--el-color-error);
  --vxe-ui-disabled-color: #bfbfbf;
  --vxe-ui-primary-disabled-color: #c0c4cc;

  /* input */
  --vxe-ui-input-border-color: var(--sjzy-input-border-color);
  --vxe-ui-input-background-color: var(--sjzy-bg);
  --vxe-ui-select-option-hover-background-color: var(--sjzy-hover-color);
  --vxe-ui-select-panel-background-color: var(--sjzy-bg);
  --vxe-ui-table-popup-border-color: var(--sjzy-table-border-color);

  /* pager */
  --vxe-ui-pager-background-color: var(--sjzy-bg);

  /* table */
  --vxe-ui-table-background-color-row-checked: var(--sjzy-table-checked-row-bg-color);
  --vxe-ui-table-background-color-row-hover: var(--sjzy-table-background-color-row-hover);
  --vxe-ui-table-font-color: $vxe-font-color;
  --vxe-ui-table-header-font-color: #8a9298;
  --vxe-ui-table-footer-font-color: $vxe-font-color;
  --vxe-ui-table-border-radius: $vxe-border-radius;
  --vxe-ui-table-border-width: 1px;
  --vxe-ui-table-border-color: var(--sjzy-table-border-color);
  --vxe-ui-table-resizable-line-color: #d9dddf;
  --vxe-ui-table-resizable-drag-line-color: var(--el-color-primary);
  --vxe-ui-table-header-background-color: var(--sjzy-table-header-bg-color);
  --vxe-ui-table-body-background-color: var(--sjzy-bg);
  --vxe-ui-table-footer-background-color: var(--sjzy-table-header-bg-color);
  --vxe-ui-table-tree-node-line-color: #909399;
  --vxe-ui-table-tree-node-line-style: dotted;
  --vxe-ui-table-header-font-weight: 600;
  --vxe-ui-table-row-height-default: 32px;
  --vxe-ui-table-row-height-medium: 48px;
  --vxe-ui-table-row-height-small: 40px;
  --vxe-ui-table-row-height-mini: 32px;
  --vxe-ui-table-row-line-height: 16px;
  --vxe-ui-table-row-hover-background-color: var(--vxe-ui-table-background-color-row-hover);
  --vxe-ui-table-row-striped-background-color: var(--vxe-ui-table-background-color-row-hover);
  --vxe-ui-table-row-hover-striped-background-color: var(--vxe-ui-table-background-color-row-hover);
  --vxe-ui-table-row-radio-checked-background-color: var(
    --vxe-ui-table-background-color-row-checked
  );
  --vxe-ui-table-row-hover-radio-checked-background-color: var(
    --vxe-ui-table-background-color-row-checked
  );
  --vxe-ui-table-row-checkbox-checked-background-color: var(
    --vxe-ui-table-background-color-row-checked
  );
  --vxe-ui-table-row-hover-checkbox-checked-background-color: var(
    --vxe-ui-table-background-color-row-checked
  );
  --vxe-ui-table-row-current-background-color: var(--sjzy-table-checked-row-bg-color);
  --vxe-ui-table-row-hover-current-background-color: var(--sjzy-table-checked-row-bg-color);
  --vxe-ui-table-column-padding-default: 13px 0;
  --vxe-ui-table-column-padding-medium: 16px 0;
  --vxe-ui-table-column-padding-small: 0;
  --vxe-ui-table-column-padding-mini: 8px 0;
  --vxe-ui-table-column-hover-background-color: #07090a;
  --vxe-ui-table-column-current-background-color: var(--sjzy-table-checked-row-bg-color);
  --vxe-ui-table-column-icon-border-color: #c0c4cc;
  --vxe-ui-table-column-icon-border-hover-color: #515a6e;
  --vxe-ui-table-cell-placeholder-color: #c0c4cc;
  --vxe-ui-table-cell-padding-left: 12px;
  --vxe-ui-table-cell-padding-right: 12px;
  --vxe-ui-table-cell-input-height-default: var(--vxe-ui-table-row-height-default) - 6;
  --vxe-ui-table-cell-input-height-medium: var(--vxe-ui-table-row-height-medium) - 6;
  --vxe-ui-table-cell-input-height-small: var(--vxe-ui-table-row-height-small) - 6;
  --vxe-ui-table-cell-input-height-mini: var(--vxe-ui-table-row-height-mini) - 6;
  --vxe-ui-table-cell-dirty-width: 5px;
  --vxe-ui-table-cell-dirty-update-color: #f56c6c;
  --vxe-ui-table-cell-dirty-insert-color: #19a15f;
  --vxe-ui-table-cell-area-border-color: var(--vxe-primary-color);
  --vxe-ui-table-cell-area-border-width: 1px;
  --vxe-ui-table-cell-main-area-extension-border-color: #fff;
  --vxe-ui-table-cell-main-area-extension-background-color: var(--vxe-primary-color);
  --vxe-ui-table-cell-extend-area-border-width: 2px;
  --vxe-ui-table-cell-copy-area-border-width: 3px;
  --vxe-ui-table-cell-active-area-border-width: 2px;
  --vxe-ui-table-cell-copy-area-border-color: var(--vxe-ui-table-cell-area-border-color);
  --vxe-ui-table-cell-extend-area-border-color: var(--vxe-ui-table-cell-area-border-color);
  --vxe-ui-table-cell-active-area-border-color: var(--vxe-ui-table-cell-area-border-color);
  --vxe-ui-table-cell-area-background-color: rgb(64 158 255 / 0.2);
  --vxe-ui-table-checkbox-range-border-width: 1px;
  --vxe-ui-table-checkbox-range-border-color: #006af1;
  --vxe-ui-table-checkbox-range-background-color: rgb(50 128 252 / 0.2);
  --vxe-ui-table-fixed-left-scrolling-box-shadow: 4px 3px 4px 0 rgb(0 0 0 / 0.12);
  --vxe-ui-table-fixed-right-scrolling-box-shadow: -4px 3px 4px 0 rgb(0 0 0 / 0.12);
}
